# Misc.
LICENSE
README.md

# Volumes
resources/

# PHP and Composer
vendor/

# Editors
**/.vscode

# Git
**/.git/
**/.git*

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Garbage
**/.DS_Store
