/**
 * custom.css
 * Minor customizations to tweak Bootstrap.
 * 
 * @author Nathan Campos <nathan@innoveworkshop.com>
 */

main {
	margin-top: 85px;
}

.refdes-crossed {
	text-decoration: line-through;
	opacity: 50%;
}
